{% extends "base.html" %}

{% block content %}
  <div class="container">


<h2>Page View Report</h2>


<ul>

{% for greeting in greetings %}
    <li>{{ greeting.when }}</li>
{% endfor %}

</ul>

<ul>

{% for food in foods %}
    <li>{{ food.id }}, {{ food.name }}</li>
{% endfor %}

</ul>

<ul>

{% for element in elements %}
    <li>{{ element.name }}</li>
{% endfor %}

</ul>

<ul>

{% for element_type in element_types %}
    <li>{{ element_type.name }}</li>
{% endfor %}

</ul>


</div>

{% endblock %}
