{% extends "base.html" %}


{% block content %}
<div class="container">
<h2>It is {{ food.name }}</h2>

    <table border="1" width="100%">
        <tr>
            <th>Element</th>
            <th>Element Type</th>
            <th>Amount Supplied</th>
            <th>Target</th>
        </tr>
        {% for amount in food.amount_set.all %}
            <tr>
                <td>{{ amount.element.name }}</td>
                <td>{{ amount.element.elementtype }}</td>
                <td>{{ amount.amount }} {{ amount.element.measured_in }}</td>
                <td>{{ amount.element.daily_target }} {{ amount.element.measured_in }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
