{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logocat">
      <img src="{% static '369.JPG'%}" >
    </a>
    <h1>Welcome to My Nightmare.</h1>
    <p><a href="/stable_detail">Click me! {{ dataset }}</a></p>


    <div id="gale-shapley-container" class="container">
      <noscript>
      	<div>
      		JavaScript is required.
      	</div>
      </noscript>
    	<h2>Gale-Shapley Algorithm Demonstration <small><a rel="external" href="https://bitbucket.org/sephlietz/galeshapleyjs">(source)</a></small></h2>
    	<p>Gale-Shapley provides a solution to the <a href="http://en.wikipedia.org/wiki/Stable_marriage_problem">stable marriage problem</a>. It can be used to pair items from two sets. In the stable marriage problem, boys are to be matched with girls, but obviously Gale-Shapley can be (and is) used in many different scenarios.</p>
      <div id="instructions">
      	<h2>Instructions</h2>
      	<p>Once the problem is setup, by clicking the <q>Setup</q> button, there will be a number of rows created.</p>
      	<ol>
      		<li>Type in a new name (or leave the default) for each row.</li>
      		<li>Select preferences for each item, highest first to lowest last.</li>
      	</ol>
      	<p>Thanks to Bart van Houte for finding a rather major bug in the original version of this.</p>
      </div>
      <div id="setup_controls">
      	<h2>Setup</h2>
      	<div>
      		<label for="n">I would like to match</label>
      		<select id="n">
      			<option value="1">1</option>
      			<option value="2">2</option>
      			<option value="3">3</option>
      			<option selected="selected" value="4">4</option>
      			<option value="5">5</option>
      			<option value="6">6</option>
      			<option value="7">7</option>
      			<option value="8">8</option>
      			<option value="9">9</option>
      			<option value="10">10</option>
      		</select>
      		<label for="type_a">pairs of:</label>
      		<input id="type_a" value="boys" />
      		<label for="type_b">and</label>
      		<input id="type_b" value="girls" />.
      	</div>
      	<button id="setup">Setup</button>
      </div>
    </div>




    <form action="/stable_detail/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    <p></p>
  </div>
</div>
<div class="container">
</div>
{% endblock %}
